################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InterLab.API/InterLab.API/obj
/InterLab.API/InterLab.API/bin/Debug/netcoreapp3.1
